<div id="panel">
  <div class="title-section">TOOLS</div>
  <div class="list-tools">
    <div
      matTooltip="pencil tool"
      class="box-tool"
      (click)="changeTool('Pencil')"
      [class.tool-selected]="'Pencil' === currentTool()">
      <img src="../../../assets/tools/pencil.svg" alt="pencil tool" />
    </div>
    <div
      matTooltip="segment tool"
      class="box-tool"
      (click)="changeTool('Line')"
      [class.tool-selected]="'Line' === currentTool()">
      <img src="../../../assets/tools/segment.svg" alt="segment tool" />
    </div>

    <div
      matTooltip="eraser tool"
      class="box-tool"
      (click)="changeTool('Eraser')"
      [class.tool-selected]="'Eraser' === currentTool()">
      <img src="../../../assets/tools/eraser.svg" alt="segment tool" />
    </div>
  </div>

  <div class="title-section">SHAPES</div>
  <div class="list-shapes">
    <div
      matTooltip="rectangle shape"
      class="box-shape"
      (click)="changeTool('RectForm')"
      [class.tool-selected]="'RectForm' === currentTool()">
      <img src="../../../assets/shapes/square.svg" alt="square shape" />
    </div>
    <div
      matTooltip="triangle shape"
      class="box-shape"
      (click)="changeTool('Triangle')"
      [class.tool-selected]="'Triangle' === currentTool()">
      <img src="../../../assets/shapes/triangle.svg" alt="triangle shape" />
    </div>
  </div>
</div>
