<div id="panel">
  <!-- <button (click)="changeTool()">change tool</button> -->

  <div class="title-section">TOOLS</div>
  <div class="list-tools">
    <div class="box-tool">
      <img src="../../../assets/tools/pencil.svg" alt="pencil tool" />
    </div>
    <div class="box-tool">
      <img src="../../../assets/tools/segment.svg" alt="segment tool" />
    </div>
  </div>

  <div class="title-section">SHAPES</div>
  <div class="list-shapes">
    <div class="box-shape">
      <img src="../../../assets/shapes/square.svg" alt="square shape" />
    </div>
  </div>
</div>
