<div id="header">
  <button
    (click)="onUndo()"
    [class.btnDisabled]="!undoAvailable()"
    [matTooltip]="undoAvailable() ? 'undo' : ''">
    <img src="../../../assets/header/undo.svg" alt="icon for undo action" />
  </button>
  <button
    (click)="onRedo()"
    [class.btnDisabled]="!redoAvailable()"
    [matTooltip]="redoAvailable() ? 'redo' : ''">
    <img src="../../../assets/header/redo.svg" alt="icon for redo action" />
  </button>
  <button matTooltip="full screen mode" (click)="onFullScreen()">
    <img
      src="../../../assets/header/fullscreen.svg"
      alt="icon for fullscreen mode" />
  </button>
  <button (click)="onChangeFormat()" matTooltip="change format">
    <img
      src="../../../assets/header/formats.svg"
      alt="icon for change format" />
  </button>
  <button (click)="onClear()" matTooltip="clear canvas">
    <img
      src="../../../assets/header/delete.svg"
      alt="icon for clear the canvas" />
  </button>
  <input
    type="text"
    placeholder="Untitled"
    [formControl]="filename"
    matTooltip="canvas title" />
  <button (click)="onSave()" matTooltip="download canvas">
    <img
      src="../../../assets/header/download.svg"
      alt="icon for download the canvas" />
  </button>
</div>
