<div id="app">
  <div id="header">
    <img src="../../../assets/icon.svg" alt="icon's app" />
    &nbsp;SYK Illustrator
  </div>

  <app-header></app-header>
  <app-tools-panel></app-tools-panel>
  <app-drawing-board></app-drawing-board>
  <app-options-panel></app-options-panel>

  <div id="footer">
    by &nbsp;<a href="https://github.com/Teqih"><span>S</span>tephen FOERSTER</a
    >&nbsp;- &nbsp;<a href="https://github.com/ybasri"
      ><span>Y</span>ouness BASRI</a
    >&nbsp;- &nbsp;<a href="https://github.com/intComodor"
      ><span>K</span>arim BOUALI</a
    >
  </div>
</div>
