#app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

app-tools-panel,
app-options-panel {
}

app-tools-panel {
  margin-left: 2vw;
}

app-options-panel {
  margin-right: 2vw;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #525252;
  font-size: 0.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footer span {
  color: #626262;
  font-weight: bold;
}
#footer a {
  text-decoration: none;
  color: #525252;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  color: #525252;
  font-size: 0.7rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  align-items: center;
}

app-header {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 5vh;
}

@media only screen and (max-width: 700px) {
  #header,
  #footer,
  app-header,
  app-tools-panel,
  app-options-panel {
    display: none;
  }

  app-drawing-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-height: 400px) {
  #header,
  #footer,
  app-header,
  app-tools-panel,
  app-options-panel {
    display: none;
  }

  app-drawing-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
