<div class="option-panel">
  <div class="title-section" *ngIf="currentTool() !== 'Eraser'">COLOR</div>
  <div style="display: flex; gap: 7px" *ngIf="currentTool() !== 'Eraser'">
    <span>
      <ngx-colors
        ngx-colors-trigger
        [(ngModel)]="defaultColor"
        (input)="setColor($event)"></ngx-colors>
    </span>
    <span>
      <input [(ngModel)]="defaultColor" (ngModelChange)="setColor($event)" />
    </span>
  </div>

  <div class="title-section">LINE WIDTH</div>
  <div style="display: flex; gap: 7px">
    <div class="block-width">
      <input
        class="slider-line-width"
        type="range"
        min="2"
        max="30"
        step="1"
        [(ngModel)]="lineWidth"
        (ngModelChange)="setLineWidth(lineWidth)" />
    </div>
    <input
      id="input-txt-width"
      [(ngModel)]="lineWidth"
      (ngModelChange)="setLineWidth(lineWidth)" />
  </div>
  <div
    class="title-section"
    *ngIf="
      currentTool() == 'RectForm' ||
      currentTool() == 'Triangle' ||
      currentTool() == 'Circle'
    ">
    FILLING
  </div>
  <div
    class="block-filling"
    *ngIf="
      currentTool() == 'RectForm' ||
      currentTool() == 'Triangle' ||
      currentTool() == 'Circle'
    ">
    <input
      type="checkbox"
      [(ngModel)]="filling"
      (ngModelChange)="setFilling(filling)" />
    <span class="filling-txt">{{ filling ? 'FILLED' : 'EMPTY' }}</span>
  </div>
</div>
